$emerald: #2ecc71;
$torquoise: #1abc9c;
$orange: #ff5722;
$darkOrange: #d4765d;
$amber: #ffc107;
$pomegranate: #c0392b;
$snow: #e1e1e1;
$veryLightGray: #f3f3f3;
$dirtyGray:#dedede;
$flatBlack: #2b2828;
$flatDark: #1d262f;

$primaryText: #212121;
$secondaryText: #757575;
$disabledText: #9E9E9E;

$blue: #2196F3;
$lightBlue: #29B6F6;
$darkBlue:#0277BD;
$darkestBlue:#00456f;

$teal: #009688;
$lightTeal: #80CBC4;
$darkTeal: #00695C;

$yellow: #FFEB3B;
$lightYellow: #FFF59D;
$darkYellow: #F9A825;

$indianRed: #ff4040;
$red: #E53935;
$lightRed: #E53935;
$darkRed: #B71C1C;

$blueGray:#455A64;
$lightBlueGray: #90A4AE;
$darkBlueGray: #263238;

$pink: #FF4080;
$lightPink:#FF80AB;
$darkPink:#F50057;

$green: #00AA8D;
$lightGreen: #00BF9A;
$darkGreen: #008975;

$indigo: #3F51B4;
$lightIndigo: #3F51B5;
$darkIndigo: #303F9F;

$purple: #673AB7;
$lightPurple: #7C4DFF;
$darkPurple: #5520b3;

$nicePurple: #B74E91;
$niceIndigo: #474457;

$flatLightGray: #424242;
$lightGray: #303030;
$gray:#212121;
